
/*=============================*/
/* FOOTER */
/*=============================*/
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 3vw 7vw;
  background-color: #95BADF;
  color: white;
}

.footer ul li {
  text-decoration: none;
  font-size: 1vw;
  margin-bottom: 1vw;
}

.footer ul li a {
  font-weight: bold;
  text-decoration: none;
}

.footertext {
  font-size: 1vw;
  width: 15%;
  margin-left: 5vw;
}

.copyright {
  text-align: center;
  width: 100%;
  font-size: 1vw;
}